/* RESET */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font: 400 14px/1 'open-sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

img, svg {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    filter: grayscale(100%);
}

a, a:hover {
    color: inherit;
    text-decoration: none;
}

::placeholder {
    color: #777;
    opacity: 1;
    text-transform: uppercase;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #777;
    opacity: 1;
    text-transform: uppercase;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: #777;
    opacity: 1;
    text-transform: uppercase;
}

:-ms-input-placeholder {
    /* IE 10+ */
    color: #777;
    opacity: 1;
    text-transform: uppercase;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: #777;
    opacity: 1;
    text-transform: uppercase;
}

input, textarea, button {
    -webkit-appearance: none;
    outline: none;
}

/* DEFAULS */

.title {
    font-family: 'dosis';
    font-size: 18px;
    letter-spacing: .3em;
    text-transform: uppercase;
}

.section-small {
    padding-top: 70px;
    padding-bottom: 70px;
}

.section-large {
    padding-top: 140px;
    padding-bottom: 140px;
}

.section-light {
    background: #fff;
    color: #777;
}

.section-light .title {
    color: #111;
}

.section-grey {
    background: #f8f8f8;
    color: #aaa;
}

.section-grey .title {
    color: #111;
}

.section-dark {
    background: #111;
    color: #b3b3b3;
}

.section-dark .title {
    color: #fff;
}

blockquote {
    padding: 0;
    margin: 0;
    border-left: 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 38px;
}

blockquote p {
    font-size: inherit !important;
    font-weight: inherit !important;
    line-height: inherit !important;
}

blockquote footer {
    margin-top: 25px;
    font-size: 11px;
    font-weight: initial;
    line-height: initial;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.nav-tabs {
    border-bottom: 0;
}

.nav-tabs>li {
    margin-bottom: 0;
}

.nav>li>a {
    padding: 0;
}

.nav-tabs>li>a {
    margin: 0;
    line-height: 1;
    border: 0;
    border-radius: 0;
}

.nav>li>a:focus, .nav>li>a:hover {
    background: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background: none;
    border: 0;
}

.btn, .btn-lg, .btn-sm, .btn-xs {
    border: 0;
    border-radius: 2px;
    box-shadow: 0 !important;
    outline: 0 !important;
    line-height: 1;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.btn-lg, .btn-sm, .btn-xs {
    display: inline-block;
}

.btn-lg {
    font-size: 14px;
    padding: 13px 37px 13px 40px;
}

.btn {
    font-size: 13px;
    padding: 11px 17px 12px 20px;
}

.btn-sm {
    font-size: 11px;
    padding: 7px 13px 8px 16px;
}

.btn-xs {
    font-size: 10px;
    padding: 5px 8px 5px 11px;
}

.btn-light, .btn-grey, .btn-dark {
    transition: background-color .3s;
}

.btn-light {
    color: #111;
    background: rgba(255, 255, 255, .8);
}

.btn-light:active, .btn-light:hover, .btn-light:focus {
    color: #111;
    background: rgba(255, 255, 255, 1);
}

.btn-grey {
    color: #777;
    background: rgba(0, 0, 0, .1);
}

.btn-grey:active, .btn-grey:hover, .btn-grey:focus {
    color: #777;
    background: rgba(0, 0, 0, .15);
}

.btn-dark {
    color: #fff;
    background: rgba(0, 0, 0, .8);
}

.btn-dark:active, .btn-dark:hover, .btn-dark:focus {
    color: #fff;
    background: rgba(0, 0, 0, 1);
}

.fa-light, .fa-dark, .fa-bordered, .fa-light::before, .fa-dark::before, .fa-bordered::before {
    position: relative;
}

.fa-light::before, .fa-dark::before, .fa-bordered::before {
    z-index: 1;
}

.fa-light::after, .fa-dark::after, .fa-bordered::after {
    content: '';
    width: 25px;
    height: 25px;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.fa-light {
    color: #222;
}

.fa-light::after {
    background: #fff;
}

.fa-dark {
    color: #f8f8f8;
}

.fa-dark::after {
    background: #111;
}

.fa-bordered {
    color: #111;
}

.fa-bordered::after {
    border: 1px solid rgba(0, 0, 0, .9);
}

.carousel-control.left, .carousel-control.right {
    background: none;
}

.carousel-control.left .fa-light, .carousel-control.right .fa-light {
    font-size: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control.left .fa-light {
    left: 15px;
}

.carousel-control.right .fa-light {
    right: 15px;
}

.carousel-control.left .fa-light::after, .carousel-control.right .fa-light::after {
    width: 63px;
    height: 63px;
}

.carousel-control.left .fa-light::after {
    transform: translate(-80%, -50%) rotate(45deg);
}

.carousel-control.right .fa-light::after {
    transform: translate(-20%, -50%) rotate(45deg);
}

.carousel-indicators {
    bottom: 26px;
}

.carousel-indicators li, .carousel-indicators .active {
    width: 9px;
    height: 9px;
    margin: 1px;
    opacity: .8;
}

.carousel-indicators li {
    border-color: #111;
    background-color: #fff;
}

.carousel-indicators .active {
    border-color: #fff;
    background-color: #111;
}

/* CUSTOM */

/* #header */

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#logo {
    margin: 27px 29px;
}

#main-menu {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .3em;
    margin: 32px 27px 32px 31px;
}

#main-menu li {
    float: left;
}

#main-menu li+li {
    margin-left: 31px;
}

#main-menu a {
    color: rgba(255, 255, 255, .75);
    transition: color
}

#main-menu a:hover {
    color: rgba(255, 255, 255, 1);
}

#header .navbar-toggle {
    margin-top: 20px;
    margin-right: 29px;
    margin-bottom: 20px;
    border: 1px solid #fff;
}

#header .navbar-toggle .icon-bar {
    background: #fff;
}

@media (max-width: 767px) {
    #main-menu {
        background: rgba(17, 17, 17, .9);
        font-size: 16px;
        margin: 0;
        padding: 1em 24px;
        text-align: right;
        width: 100%;
        max-height: 11em;
    }
    #main-menu li {
        width: 100%;
    }
    #main-menu li+li {
        margin-left: 0;
        margin-top: 1em;
    }
}

/* #intro */

#intro {
    position: relative;
    height: 100vh;
    background: #a1a1a1 url(../img/bg.png) 50% 100% / cover;
}

#intro .intro-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    padding-bottom: 110px;
}

#intro .title {
    margin-bottom: 97px;
    padding-left: 1.7em;
    font-size: 30px;
    letter-spacing: 1.7em;
    color: rgba(254, 254, 254, .9);
}

#intro .moto {
    font-size: 19px;
    font-weight: 300;
    color: rgba(254, 254, 254, .68);
}

#intro a {
    position: absolute;
    bottom: -50%;
    width: 35px;
    height: 35px;
}

#intro .scroll .fa-light::after {
    top: 20%;
}

@media (max-width: 991px) {
    #intro .title {
        padding-left: 1em;
        letter-spacing: 1em;
    }
}

@media (max-width: 768px) {
    #intro .title {
        padding-left: .5em;
        letter-spacing: .5em;
    }
    @media (max-width: 578px) {
        #intro .moto {
            padding-left: .5em;
            padding-right: .5em;
            line-height: 1.5;
        }
    }
}

@media (max-width: 480px) {
    #intro .title {
        padding-left: .1em;
        letter-spacing: .1em;
    }
}

/* #about-studio */

#about-studio {
    border-bottom: 1px solid #ececec;
}

#about-studio .title {
    margin-bottom: 72px;
}

#about-studio p {
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
}

#about-studio .about-photo {
    margin-top: 107px;
    background: #eeede8;
    position: relative;
}

#about-studio .about-name, #about-studio .about-position {
    text-align: center;
    letter-spacing: .4em;
    text-transform: uppercase;
}

#about-studio .about-name {
    margin-top: 29px;
    font-size: 15px;
}

#about-studio .about-position {
    margin-top: 13px;
    font-size: 12px;
}

#about-studio .skills {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 40px;
    background: #131313;
    opacity: 0;
    transition: opacity cubic-bezier(.5, .1, .5, .9) .5s;
}

#about-studio .skills:hover {
    opacity: 1;
}

#about-studio .skills-title {
    font-family: 'dosis';
    font-size: 18px;
    letter-spacing: .3em;
    text-transform: uppercase;
    color: #fff;
}

#about-studio .skills-text {
    margin-top: 28px;
    margin-bottom: 38px;
    font-size: 13px;
    line-height: 21px;
    color: rgba(255, 255, 255, .5);
}

#about-studio .progress-title {
    font-size: 11px;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .9);
    margin-bottom: 6px;
}

#about-studio .progress {
    height: 12px;
    border-radius: 0;
    margin-bottom: 0;
    background: rgba(254, 254, 254, .15);
}

#about-studio .progress+.progress-title {
    margin-top: 18px;
}

#about-studio .progress-bar {
    background: rgba(254, 254, 254, .75);
    width: 0%;
    transition: width .5s .5s;
}

#about-studio .skills:hover .progress-bar-92 {
    width: 92%;
}

#about-studio .skills:hover .progress-bar-85 {
    width: 85%;
}

#about-studio .skills:hover .progress-bar-54 {
    width: 54%;
}

#about-studio .skills:hover .progress-bar-77 {
    width: 77%;
}

#about-studio .skills:hover .progress-bar-74 {
    width: 74%;
}

#about-studio .skills:hover .progress-bar-93 {
    width: 93%;
}

#about-studio .skills:hover .progress-bar-55 {
    width: 55%;
}

#about-studio .skills:hover .progress-bar-87 {
    width: 87%;
}

#about-studio .skills:hover .progress-bar-74 {
    width: 74%;
}

#about-studio .skills:hover .progress-bar-85 {
    width: 85%;
}

#about-studio .skills:hover .progress-bar-96 {
    width: 96%;
}

#about-studio .skills:hover .progress-bar-77 {
    width: 77%;
}

@media (max-width: 1199px) {
    #about-studio .skills {
        padding: 20px;
    }
    #about-studio .skills-text {
        margin-top: 16px;
        margin-bottom: 24px;
    }
    #about-studio .progress+.progress-title {
        margin-top: 12px;
    }
}

@media (max-width: 992px) {
    #about-studio .row+.row {
        text-align: center;
    }
    #about-studio .about-img {
        display: inline-block;
    }
    #about-studio .skills {
        padding: 40px;
        text-align: left;
    }
    #about-studio .skills-text {
        margin-top: 28px;
        margin-bottom: 38px;
    }
    #about-studio .progress+.progress-title {
        margin-top: 18px;
    }
    #about-studio .col-md-4>p {
        margin-top: 40px;
    }
}

@media (max-width: 480px) {
    #about-studio .skills {
        padding: 20px;
    }
    #about-studio .skills-text {
        margin-top: 14px;
        margin-bottom: 22px;
    }
    #about-studio .progress+.progress-title {
        margin-top: 12px;
    }
}

/* #services */

#services .title {
    margin-bottom: 120px;
}

#services .nav {
    text-align: center;
    margin-bottom: 70px;
}

#services .nav li {
    width: 20%;
}

#services .nav a {
    padding-left: .4em;
    font-family: 'dosis';
    color: rgba(17, 17, 17, .5);
    letter-spacing: .4em;
    text-transform: uppercase;
    transition: color .3s;
}

#services .nav a:hover, #services .nav a:focus, #services .nav .active a {
    color: rgba(17, 17, 17, 1);
}

#services i {
    display: block;
    font-size: 48px;
    margin-bottom: 35px;
}

#services p {
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
}

@media (max-width: 992px) {
    #services .col-md-4>p {
        margin-top: 40px;
    }
}

/* #lets-talk */

#lets-talk p {
    margin-top: 20px;
    margin-bottom: 36px;
    font-weight: 300;
    font-size: 15px;
    line-height: 26px;
    color: rgba(255, 255, 255, .7);
}

#lets-talk img {
    margin-top: -172px;
    margin-bottom: -92px;
}

/* #portfolio */

#portfolio {
    padding-bottom: 0;
}

#portfolio .container-fluid {
    padding: 0;
    overflow: hidden;
}

#portfolio .row {
    margin-left: -4px;
    margin-right: -4px;
}

#portfolio .row .col-md-4 {
    padding-left: 4px;
    padding-right: 4px;
}

#portfolio p {
    font-size: 15px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 76px;
    margin-bottom: 36px;
}

#portfolio .nav {
    display: inline-block;
    text-align: center;
}

#portfolio .nav li {
    padding: 48px 16px;
}

#portfolio .nav a {
    padding-left: .4em;
    font-family: 'dosis';
    font-size: 13px;
    color: rgba(17, 17, 17, .5);
    letter-spacing: .4em;
    text-transform: uppercase;
    transition: color .3s;
}

#portfolio .nav a:hover, #portfolio .nav a:focus, #portfolio .nav .active a {
    color: rgba(17, 17, 17, 1);
}

#portfolio img {
    margin-bottom: 8px;
}

#portfolio img:hover {
    filter: none;
    transition: filter .3s;
}

/* #like-us  */

.start-project {
    margin-top: 22px;
}

/* #choose-us */

#choose-us .title {
    margin-bottom: 5px;
}

#choose-us .subtitle {
    margin-top: 80px;
    margin-bottom: 32px;
    font-family: 'dosis';
    font-size: 14px;
    letter-spacing: .4em;
    color: #111;
    text-transform: uppercase;
}

#choose-us .subtitle i {
    display: block;
    margin-bottom: 32px;
    font-size: 48px;
}

#choose-us p {
    font-weight: 300;
    line-height: 26px;
}

/* #slider  */

#slider {
    overflow: hidden;
}

#slider .item {
    text-align: center;
    height: 480px;
}

#slider .item-content {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 760px;
    padding-bottom: 40px;
    transform: translate(-50%, -50%)
}

#slider .item-content .title {
    padding-left: 0.3em;
    margin: 20px 0 40px;
}

#slider .item-content blockquote {
    font-size: 18px;
    line-height: 30px;
    color: rgba(254, 254, 254, .75);
}

#slider .item-content i {
    font-size: 32px;
}

#slider blockquote footer {
    color: rgba(254, 254, 254, .3);
}

/* #news  */

#news .blog {
    display: block;
    font-family: 'dosis';
    font-weight: 400;
    font-size: 11px;
    color: #999;
    letter-spacing: .4em;
    text-transform: uppercase;
    margin-bottom: 78px;
}

#news img {
    transition: filter .3s;
    margin-bottom: 30px;
}

#news img:hover {
    filter: grayscale(0%);
}

#news .subtitle {
    font-family: 'dosis';
    font-weight: 400;
    font-size: 15px;
    color: #777;
    letter-spacing: .2em;
    text-transform: uppercase;
    margin-bottom: 17px;
}

#news .aftor-info span {
    font-family: 'dosis';
    font-weight: 400;
    font-size: 11px;
    color: #999;
    letter-spacing: .4em;
    text-transform: uppercase;
}

#news p {
    margin-top: 23px;
    font-weight: 300;
    margin-bottom: 23px;
    line-height: 26px;
}

/* #subscribe  */

#subscribe form {
    margin: 21px 0;
}

#subscribe input[type="email"] {
    font-size: 12px;
    letter-spacing: .2em;
    width: 300px;
    height: 36px;
    border-radius: 2px;
    padding-left: 13px;
    padding-right: 13px;
    border: 1px solid #dfdfdf;
    transition: border-color .3s;
    color: #777;
    text-transform: uppercase;
}

#subscribe input[type="email"]:hover, #subscribe input[type="email"]:focus {
    border-color: #111;
}

#subscribe input, #subscribe button {
    vertical-align: middle;
}

#subscribe p {
    font-size: 11px;
}

/* #contacts  */

#contacts .title {
    padding-bottom: 94px;
}

#contacts .text {
    margin-left: 40px;
    margin-top: -25px;
}

#contacts span {
    display: block;
    font-family: 'dosis';
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 12px;
    letter-spacing: .3em;
    text-transform: uppercase;
}

#contacts a {
    color: #444;
    font-weight: 300;
    font-size: 15px;
    transition: color .3s;
}

#contacts a:hover {
    color: #111;
}

#contacts .contact-item a:hover {
    color: #000;
}

#contacts .row-custom {
    margin-top: 80px;
}

#contacts .col-custom {
    width: 50%;
    float: left;
}

#contacts .col-custom:nth-child(1) {
    padding-right: 5px;
}

#contacts .col-custom:nth-child(2) {
    padding-left: 5px;
}

#contacts .col-custom:nth-child(n+3) {
    margin-top: 20px;
}

#contacts input, #contacts textarea {
    width: 100%;
    border-radius: 2px;
    padding-left: 13px;
    padding-right: 13px;
    color: #111;
    border: 1px solid #dfdfdf;
    letter-spacing: .2em;
    transition: border-color .3s;
}

#contacts input {
    height: 36px;
}

#contacts input+input {
    margin-top: 10px;
}

#contacts textarea {
    resize: vertical;
    min-height: 82px;
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 1.3;
}

#contacts input:hover, #contacts input:focus, #contacts textarea:hover, #contacts textarea:focus {
    border-color: #111;
}

#contacts .info {
    line-height: 36px;
}

/* #map  */

#map {
    position: relative;
    overflow: hidden;
}

#map iframe {
    width: 100%;
    height: 410px;
    border: 0;
}

#map .overlay {
    background: rgba(17, 17, 17, .95);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform .6s;
    text-align: center;
}

#map .promo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 0.3em;
    color: rgba(255, 255, 255, .75);
    font-family: 'dosis';
    font-size: 16px;
    letter-spacing: .3em;
    text-transform: uppercase;
}

#map:hover .overlay {
    transform: translateY(-101%);
}

#map .fa-light {
    display: block;
    padding-left: .3em;
    margin-bottom: 38px;
    margin-right: .6em;
}

/* #footer */

#footer {
    padding: 0;
}

#footer img {
    margin-top: 138px;
    margin-bottom: 24px;
}

#footer .icon {
    padding-bottom: 100px;
}

#footer .copy {
    margin-bottom: 17px;
    font-family: 'dosis';
    font-size: 12px;
    letter-spacing: .5em;
    text-transform: uppercase;
    color: #111;
}

#footer span {
    display: block;
    margin-bottom: 60px;
    font-size: 11px;
    color: #999;
}

/* #top (go to first screen) */

#top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    z-index: 100;
    font-size: 18px;
    background: #f8f8f8;
    color: #000;
    opacity: .5;
    border-radius: 3px;
    box-shadow: 0 0 0 1px #777;
    transform: translateY(121%);
    transition: opacity .3s, transform .3s;
}

#top.visible {
    transform: translateY(0%);
}

#top:hover {
    opacity: 1;
}